<div class="container-fluid">
  <div class="row">
    <% @articulos.each do |articulo| %>
      <div class="col-md-6 col-lg-4">
        <div class="jumbotron">
          <h1><%= link_to articulo.title, article_path(articulo) %></h1>
          <p><%= truncate(articulo.body,length: 400) %></p>

          <% if user_signed_in? %>
            <% if current_user.is_editor_user? %>
              <%= link_to "Editar", edit_article_path(articulo), data: {confirm: "Esta seguro de actualizar el articulo #{articulo.title}?"}, class: "btn btn-warning" %>
            <% end %>
            <% if current_user.is_admin_user? %>
              <%= link_to "Eliminar", articulo, method: :delete, data: {confirm: "Esta seguro de eliminar el articulo #{articulo.title}?"}, class: "btn btn-danger" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>