<!--<= @articulo.inspect %>-->
<div class="container-fluid jumbotron">
  <h1><%= @articulo.title %></h1>
  <p><%= @articulo.body %></p>

  <%= link_to "Atràs", root_path, class: "btn btn-info" %>
  <%= link_to "Editar", edit_article_path(@articulo), class: "btn btn-warning" %>
</div>