/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$color-nav: white;
$color-title: #000;
$color-fondo: white;
$color-a: #F3F2B4;
$color-b: #FFFFD3;
$color-c: #F4806D;
$color-d: #C02727;

$colors : (
    color-titulo: $color-title,
    color-fondo: $color-fondo,
    color-a: $color-a,
    color-b: $color-b,
    color-c: $color-c,
    color-d: $color-d
);

body{
    background-color: $color-fondo;
}

@each $color_name, $color in $colors{
    .#{$color_name}{
        background-color: $color !important;
    }

    .#{$color_name}-text{
        color: $color !important;
    }
}

.nav-link{
    color: $color-nav !important;
}