<style type="text/css" media="screen">
  <%= ".color-categoria-id-#{category.id}" %>{
    background: <%= category.color %> !important;
  }
</style>

<div class="col-md-3">
  <div class="jumbotron <%= "color-categoria-id-#{category.id}" %>">
    <h2><%= category.name %></h2>
  </div>
</div>